/****************************
*Estilos generales          *
****************************/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-primario: #383f9c;
  --color-secundario: #5f9362;
}
.layout-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.width-100 {
  width: 100%;
}

.margin-body {
  margin-right: 20px;
}
/****************************
 Barra de navegación     
****************************/

nav h1 {
  font-family: "Fredoka", sans-serif;
  font-size: 25px;
  float: right;
}

nav input {
  background-color: var(--color-secundario);
  border: 0px;
  margin-left: 10px;
}

nav button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.search-bar {
  position: absolute;
  align-items: center;
}

.container-navbar {
  position: absolute;
  padding: 20px;
  background-color: var(--color-primario);
}

.search-bar {
  border-radius: 20px;
  width: 14%;
  padding: 0px;
  background-color: var(--color-secundario);
}

::placeholder {
  color: var(--color-primario);
}

.title{
    font-family: 'Montserrat', sans-serif;

}

/****************************
 card pokemon
****************************/

.pokemon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 100px;
}

.pokemon-block {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.img-container {
  background-image: url("./blob.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pokemon-block p {
  margin: 5px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
}

.name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}

#spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
}

/****************************
 info pokemon
****************************/

.container-info {
  /**background-color: var(--color-secundario);**/
  width: 500px;
  height: 400px;
}

.container-img {

}
.img-container img{
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, 0%);
background-image: url("../assets/img/blob\ \(1\).svg");
background-repeat: no-repeat;
background-position: center;
}


table {
  font-family: "Fredoka", sans-serif;
  color: black;
}
table  td{
 padding: 0.76rem;
}
table tr td{
  width: 50%;
}
