/****************************
*Estilos generales          *
****************************/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-primario: #81c784;
  --color-secundario: #5f9362;
}
.layout-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.width-100 {
  width: 100%;
}

.margin-body {
  margin-right: 20px;
}
/****************************
 Barra de navegación     
****************************/

nav h1 {
  font-family: "Fredoka", sans-serif;
  font-size: 25px;
  float: right;
}

nav input {
  background-color: var(--color-secundario);
  border: 0px;
  margin-left: 10px;
}

nav button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.search-bar {
  position: fixed;
  align-items: center;
}

.container-navbar {
  padding: 1% 2% 3% 2%;
  background-color: var(--color-primario);
}

.search-bar {
  border-radius: 20px;
  width: 14%;
  padding: 0px;
  background-color: var(--color-secundario);
}

::placeholder {
  color: var(--color-primario);
}

.title{
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;

}

/****************************
 info pokemon
****************************/

.container-info {
  /**background-color: var(--color-secundario);**/
  width: 500px;
  height: 400px;
}

.container-img {
  background-image: url("../assets/img/blob\ \(1\).svg");
  background-repeat: no-repeat;
  background-position: center;
}
.poke-img{
position: relative;
top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


table {
  font-family: "Fredoka", sans-serif;
  color: black;
}
table  td{
 padding: 0.76rem;
}
table tr td{
  width: 50%;
}

.table-habilidades{
  width: 10%;
}

